.container {
    width: 660px;
    height: 248px;
}

.price {
    margin-top: 41px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.rating {
    margin-bottom: 5px;
}

.compound {
    display: flex;
    gap: 5px;
    flex-direction: column;
}



